# nix
result
results/

# direnv
.direnv/

# precommit
/.pre-commit-config.yaml

# VMs
*.qcow2

# terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate.backup

.clj-kondo/
.lsp/

# python
__pycache__/

.aider*

.nrepl-port

# nix closure comparison reports
*closure*report*.md
*closure*report*.json

.cpcache/
