[user]
  email = kyle@ondy.me
  name = Kyle Ondy
  signingkey = F871B092
[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore
[commit]
  template = ~/.gitmessage.txt
[help]
  autocorrect = 1
[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  ff = false
[push]
  default = simple
  followTags = true
[pull]
  rebase = true
[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  wdiff = diff --color-words
[gpg]
	program = gpg2
